/* Reset básico para remover estilos padrões do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* garante que padding e borda não expandam o tamanho total */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0a0a0a;
    /* fundo */
    color: #fff;
    line-height: 1.6;
}

header {
    background-color: #111;
    padding: 0px 15px;
    height: 78px;
    /* altura fixa */
    text-align: justify;
    line-height: 70px;
    /* centraliza verticalmente o texto */
    border-bottom: 1px solid #222;
}

/* alinhar o conteúdo usando inline-block */
header::after {
    content: "";
    display: inline-block;
    width: 100%;
}

/* container do menu suspenso */
.dropdown {
    position: relative;
    /* posicionamento do menu dropdown internamente */
    display: inline-block;

}

/* Botão que abre o dropdown */
#dropBtn {
    background-color: #111;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    transition: color 0.3s;
}

/* seta do dropbtn */
.dropdown .s-arrow {
    display: inline-block;
    margin-left: 6px;
    transition: transform 0.5s ease;
}

/* Lista do dropdown escondida */
.drop-menu {
    display: none;
    background: #1d1d1d;
    position: absolute;
    top: 85%;
    left: 0;
    width: 110%;
    padding: 0;
    list-style: none;
    border-radius: 10px;
    z-index: 10;
}

.drop-menu li {
    padding: 0 15px;
}

.drop-menu li a {
    color: white;
    text-decoration: none;
}

/* Quando a classe .open é ativada o menu aparece */
.dropdown.open .drop-menu {
    display: block;
}

/* Animação para quando aperta na flecha */
.dropdown.open .s-arrow {
    transform: rotate(180deg);
}


header h1,
nav {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

header h1 a {
    font-size: 24px;
    margin-left: 45px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

/* Ícone de login */
ul img {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    cursor: pointer;
}

ul img:hover {
    filter: brightness(0) saturate(100%) invert(23%) sepia(92%) saturate(7487%) hue-rotate(357deg) brightness(93%) contrast(115%);
}

/* Efeito passar mouse em cima vermelho */
header h1 a:hover,
.dropdown:hover #dropBtn,
nav ul li a:hover {
    color: #e50914;
}

/* Carrossel + texto principal */
.hero {
    position: relative;
    width: 100%;
    height: 65vh;
    overflow: hidden;
    color: #fff;
}

/* texto sobre as imagens */
.hero-content {
    position: absolute;
    inset: 0;
    /* ocupa toda a área */
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.35);
    /* leve escurecimento */
    padding: 20px;
    border-radius: 10px;
    z-index: 2;
    /* fica acima das imagens */
}

.hero-content h2 {
    margin-top: 15vh;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: #e50914;
    color: #fff;
    padding: 12px 25px;
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-weight: 500;

}

.btn:hover {
    background-color: #b0060f;
}

/* Carrossel */
.carousel {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /* centraliza */
    width: 80%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}

/* Faixa que desliza com as imagens */
.carousel-track {
    white-space: nowrap;
    /* imagens lado a lado */
    font-size: 0;
    width: 100%;
    height: 100%;
    animation: slide 15s linear infinite;
    /* animação de slide contínua */
}

/* Imagens do carrossel */
.carousel-track img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* ocupa o card corretamente */
    object-position: center;
}

/* animação do carrossel */
@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-300%);
    }
}


/* cards */
.cards {
    text-align: center;
    padding: 50px;
    background-color: #111;
}

.card {
    display: inline-block;
    width: 400px;
    margin: 15px;
    vertical-align: top;
    height: 350px;
    background-color: #1b1b1b;
    border-radius: 30px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: inherit;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    /* animações suaves */
}

/* Aumenta o card ao passar o mouse */
.card:hover {
    /* aumenta levemente o tamanho do card */
    transform: scale(1.07);
    /* destaque com leve brilho vermelho */
    box-shadow: 0 0px 20px rgba(229, 9, 20, 1);
}

.card img {
    width: 100%;
    object-fit: cover;
    height: auto;
}

.card h3 {
    margin-top: 10px;
    font-size: 20px;
}

.card p {
    margin-top: 5px;
    font-weight: normal;
    padding: 0 50px;
    font-size: 14px;
    color: #ccc;
}

/* efeito flip */
.flip-card {
    perspective: 1000px;
    /* cria profundidade 3D */
    display: inline-block;
}

.flip {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    /* mantém faces 3D */
    border-radius: 30px;
}

/* Gira o card ao passar o mouse */
.flip-card:hover .flip {
    transform: rotateY(180deg);
}

.flip-front,
.flip-back {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    border-radius: 30px;
    overflow: hidden;
    /* evita que a face de trás apareça espelhada */
}

/* Parte de trás do card */
.flip-back {
    background-color: white;
    transform: rotateY(180deg);
    padding: 150px 0;
    color: black;
}

.card .flip-back p {
    color: #0a0a0a;
}

.como-funciona {
    text-align: center;
    padding: 60px 20px;
    background-color: #0a0a0a;
}

.como-funciona h2 {
    font-size: 30px;
    margin-bottom: 40px;
}

.sobre-empresa {
    text-align: center;
    padding: 60px 20px;
    background-color: #111;
}

.steps {
    text-align: center;
}

.step {
    display: inline-block;
    vertical-align: top;
    max-width: 300px;
    margin: 20px;
}

.step h3 {
    color: #e50914;
    margin-bottom: 10px;
}

.texto-justificado {
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

/* FOOTER */

/* estrutura geral do rodapé */
.footer {
    background-color: #111;
    color: #bbb;
    padding: 50px 20px 20px;
    margin-top: 50px;

}

.footer-content {
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 30px;
    border-bottom: 1px solid #333;
}

/* BLOCO PRINCIPAL */
.footer-info,
.footer-block {
    display: inline-block;
    vertical-align: top;
}

.footer-info {
    width: 40%;
}

.footer-block {
    width: 18%;
}

.footer-logo {
    font-size: 24px;
    color: #e50914;
    margin-bottom: 20px;
    font-weight: bold;
}

.footer-address {
    line-height: 1.8;
    color: #999;
    font-size: 14px;
    margin-bottom: 15px;
}

.footer-cnpj {
    color: #777;
    font-size: 13px;
}

/* LINKS */
.footer-block h4 {
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

.footer-block ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-block a {
    color: #bbb;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s ease;
    display: inline-block;
}

/* Efeito de "deslocamento" nos links */
.footer-block a:hover {
    color: #e50914;
    transform: translateX(px);
}

/* COPYRIGHT */
.footer-bottom {
    text-align: center;
    padding-top: 25px;
}

.footer-bottom p {
    color: #777;
    font-size: 14px;
}

/* Responsividade */
@media (max-width: 1024px) {

    .footer-info,
    .footer-block {
        width: 45%;
        margin-bottom: 25px;
    }

    .footer-info {
        width: 100%;
    }
}

@media (max-width: 787px) {

    header {
        padding: 0 20px;
    }

    header h1 a {
        font-size: 1.1rem;
    }

    nav ul li {
        font-size: 0.6rem;
        margin-left: 15px;
    }

    .hero-content h2 {
        font-size: 1.8rem;
    }

    .hero-content p {
        font-size: 0.67rem;
        padding: 0 10px;
    }

    .btn {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {

    .form-container,
    .info-sidebar {
        width: 100%;
        margin: 0 0 25px 0;
        display: block;
    }

    .footer-info,
    .footer-block {
        width: 100%;
        margin-bottom: 25px;
    }

    footer {
        padding: 40px 20px 20px;
    }
}

