* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0a0a0a;
    color: #fff;
    line-height: 1.6;
}

header {
    background-color: #111;
    padding: 0px 50px;
    height: 78px;
    text-align: justify;
    line-height: 70px;
}

header::after {
    content: "";
    display: inline-block;
    width: 100%;
}

.dropdown{
    position: relative;
    display: inline-block; /* Mantém ele no header sem quebrar layout */

}

#dropBtn {
    background-color: #111;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    transition: color 0.3s;
}

.dropdown .arrow {
    display: inline-block;
    margin-left: 6px;
    transition: transform 0.3 ease;
}

.drop-menu {
    display: none;
    background: #1d1d1d;
    position: absolute;
    top: 85%;
    left: 0;
    width: 80%;
    padding: 0;
    list-style: none;
    border-radius: 10px;
    z-index: 10;
}

.drop-menu li {
    padding: 0 15px ;
}

.drop-menu li a {
    color: white;
    text-decoration: none;
}

/* Quando abrir */
.dropdown.open .drop-menu {
    display: block;
}

.dropdown.open .arrow {
    transform: rotate(180deg);
}


header h1,
nav {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

header h1 a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

header h1 a:hover, 
.dropdown:hover #dropBtn,
nav ul li a:hover{
    color: #e50914;
}

.hero {
    position: relative;
    width: 100%;
    height: 65vh;
    overflow: hidden;
    color: #fff;
}

.hero-content {
    position: absolute;
    inset: 0;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.35);
    padding: 20px;
    border-radius: 10px;
    z-index: 2;
}

.hero-content h2 {
    margin-top: 15vh;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: #e50914;
    color: #fff;
    padding: 12px 25px;
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-weight: 500;

}

.btn:hover {
    background-color: #b0060f;
}

.carousel {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.carousel-track {
    white-space: nowrap;
    font-size: 0;
    width: 100%;
    height: 100%;
    animation: slide 15s linear infinite;
}

.carousel-track img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* animação do carrossel */
@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-300%);
    }
}

/* 🔹 Responsividade */
@media (max-width: 787px) {

    header {
        padding: 0 20px;
    }

    header h1 a {
        font-size: 1.1rem;
    }

    nav ul li {
        font-size: 0.6rem;
        margin-left: 15px;
    }

    .hero-content h2 {
        font-size: 1.8rem;
    }

    .hero-content p {
        font-size: 0.67rem;
        padding: 0 10px;
    }

    .btn {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 50px;
    background-color: #111;
}

.card {
    display: block;
    height: 360px;
    background-color: #1b1b1b;
    border-radius: 30px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: inherit;
    /* animações suaves */
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card:hover {
    /* aumenta levemente o tamanho do card */
    transform: scale(1.07);
    /* destaque com leve brilho vermelho */
    box-shadow: 0 0px 20px rgba(229, 9, 20, 1);
}

.card img {
    width: 100%;
    object-fit: cover;
    height: auto;
}

.card h3 {
    margin-top: 10px;
    font-size: 20px;
}

.card p {
    margin-top: 5px;
    font-weight: normal;
    padding: 0 50px;
    font-size: 14px;
    color: #ccc;
}

.flip-card {
    perspective: 1000px;
    display: block;
}

.flip {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 30px;
}

.flip-card:hover .flip {
    transform: rotateY(180deg);
}

.flip-front,
.flip-back {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    border-radius: 30px;
    overflow: hidden;
}

.flip-back {
    background-color: white;
    transform: rotateY(180deg);
    padding: 30px;
    color: black;
    text-align: center;
}

.card .flip-back p {
    color: #0a0a0a;
}

.como-funciona {
    text-align: center;
    padding: 60px 20px;
    background-color: #0a0a0a;
}

.como-funciona h2 {
    font-size: 30px;
    margin-bottom: 40px;
}

.sobre-empresa {
    text-align: center;
    padding: 60px 20px;
    background-color: #e25f08;
}
.steps {
    text-align: center;
}

.step {
    display: inline-block;
    vertical-align: top;
    max-width: 300px;
    margin: 20px;
}

.step h3 {
    color: #e50914;
    margin-bottom: 10px;
}
.texto-justificado {
    text-align: justify;
    max-width: 800px; /* ajuste como preferir */
    margin: 0 auto;   /* centraliza o bloco na página */
    line-height: 1.6; /* melhora a leitura */
}

footer {
    background-color: #111;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #bbb;
}