* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #0a0a0a;
  color: #fff;
}

header {
  background-color: #111;
  padding: 0px 15px;
  height: 78px;
  text-align: justify;
  line-height: 70px;
  border-bottom: 1px solid #222;
}

header::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
  /* Mantém ele no header sem quebrar layout */
}

#dropBtn {
  background-color: #111;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
  transition: color 0.3s;
}

.dropdown .s-arrow {
  display: inline-block;
  margin-left: 6px;
  transition: transform 0.5s ease;
}

.drop-menu {
  display: none;
  background: #1d1d1d;
  position: absolute;
  top: 85%;
  left: 0;
  width: 110%;
  padding: 0;
  list-style: none;
  border-radius: 10px;
  z-index: 10;
}

.drop-menu li {
  padding: 0 15px;
}

.drop-menu li a {
  color: white;
  text-decoration: none;
}

/* Quando abrir */
.dropdown.open .drop-menu {
  display: block;
}

.dropdown.open .s-arrow {
  transform: rotate(180deg);
}

header h1,
nav {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

header h1 a {
  font-size: 24px;
  margin-left: 45px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-left: 25px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

ul img {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  cursor: pointer;
}

ul img:hover {
  filter: brightness(0) saturate(100%) invert(23%) sepia(92%) saturate(7487%) hue-rotate(357deg) brightness(93%) contrast(115%);
}

header h1 a:hover,
.dropdown:hover #dropBtn,
nav ul li a:hover {
  color: #e50914;
}

.houses-section {
  padding: 50px;
  margin: 0 auto 5%;
  max-width: 1400px;
  text-align: center;
  --color-separator: #555;
}

.section-title {
  text-align: center;
  font-size: 2.2em;
  margin-bottom: 40px;
  padding-bottom: 10px;
  position: relative;
  letter-spacing: 1px;
}

.section-title::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background:red;
  margin: 10px auto 0;
}

.houses-grid {
  font-size: 0;
  margin: 0 auto;
  word-spacing: 30px;
  text-align: center;
}

.house-card {
  display: inline-block;
  width: 480px;
  margin: 15px 0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  vertical-align: top;
  font-size: 16px;
  word-spacing: normal;
}

.house-card:hover {
  transform: translateY(-5px);
}

.house-image {
  height: 220px;
  text-align: center;
  font-style: italic;
  line-height: 200px;
}

.house-details {
  padding: 20px;
  background-color: #1d1d1d;
}

.house-title {
  font-size: 1.3em;
  margin-bottom: 15px;
  min-height: 50px;
}

.price {
  font-size: 1.8em;
  font-weight: 700;
  color: red;
  margin-bottom: 20px;
}

/* Despesas */
.expenses {
  background-color: #333333;
  padding: 10px 15px;
  border-radius: 4px;
  margin-bottom: 20px;
  overflow: hidden;
}

.expense-item-left {
  float: left;
  text-align: left;
}

.expense-item-right {
  float: right;
  text-align: right;
}

.expense-label {
  font-size: 0.8em;
  color: #999;
  text-transform: uppercase;
}

.expense-value {
  font-weight: 700;
}

/* Features */
.features {
  text-align: left;
  margin-bottom: 30px;
  word-spacing: 5px;
}

.feature {
  background-color: #444444;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.9em;
  display: inline-block;
  margin: 5px 0;
}

.feature input[type="checkbox"] {
  display: none;
}

.feature label {
  color: #999;
  cursor: default;
}

/* Botões */
.actions {
  overflow: hidden;
  padding-top: 10px;
  border-top: 1px dashed var(--color-separator);
}

.btn {
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  float: left;
  text-align: center;
  color: white;
  background-color: #1d1d1d;
  width: calc(50% - 5px);
}

.btn:hover {
  background-color: #a31515;
}

/* -------- FOOTER -------- */
.footer {
  background-color: #111;
  color: #bbb;
  padding: 50px 20px 20px;

}

.footer-content {
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 30px;
  border-bottom: 1px solid #333;
}

/* BLOCO PRINCIPAL */
.footer-info,
.footer-block {
  display: inline-block;
  vertical-align: top;
}

.footer-info {
  width: 40%;
}

.footer-block {
  width: 18%;
}

.footer-logo {
  font-size: 24px;
  color: #e50914;
  margin-bottom: 20px;
  font-weight: bold;
}

.footer-address {
  line-height: 1.8;
  color: #999;
  font-size: 14px;
  margin-bottom: 15px;
}

.footer-cnpj {
  color: #777;
  font-size: 13px;
}

/* LINKS */
.footer-block h4 {
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}

.footer-block ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-block li {
  margin-bottom: 12px;
}

.footer-block a {
  color: #bbb;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s ease;
  display: inline-block;
}

.footer-block a:hover {
  color: #e50914;
  transform: translateX(5px);
}

/* COPYRIGHT */
.footer-bottom {
  text-align: center;
  padding-top: 25px;
}

.footer-bottom p {
  color: #777;
  font-size: 14px;
}

/* Responsividade */
@media (max-width: 1024px) {

  .footer-info,
  .footer-block {
    width: 45%;
    margin-bottom: 25px;
  }

  .footer-info {
    width: 100%;
  }
}

/* --- RESPONSIVIDADE --- */
@media (max-width: 768px) {

  /* About: Remove float para empilhar */
  .left,
  .right {
    float: none;
    width: 100%;
    margin-right: 0;
    text-align: center;
  }

  .left {
    margin-bottom: 20px;
  }

  .right h3 {
    text-align: center;
  }

  /* Filter Card: Empilha input e botão */
  .search-input {
    display: block;
    margin: 0 auto 10px auto;
    /* Centraliza e dá margem */
  }

  .search-button {
    display: block;
    margin: 0 auto;
    /* Centraliza */
  }

  .form-container,
  .info-sidebar {
    width: 100%;
    margin: 0 0 25px 0;
    display: block;
  }

  .footer-info,
  .footer-block {
    width: 100%;
    margin-bottom: 25px;
  }

  footer {
    padding: 40px 20px 20px;
  }

  .card-item {
    width: 90%;
    display: block;
    margin: 15px auto;
  }
}