* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #111;
  padding: 0px 50px;
  height: 78px;
  text-align: justify;
  line-height: 70px;
}

header::after {
  content: "";
  display: inline-block;
  width: 100%;
}

header h1,
nav {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

header h1 a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-left: 25px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover,
header h1 a:hover {
  color: #e50914;
}

.sobre {
  width: 100%;
  padding: 132px 0;
  height: auto;
  background-color: #191919;
  text-align: center;
  position: relative;
}

.sobrenos {
  position: relative;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.card {
  display: none;
  width: 85%;
  margin: 0 auto;
  text-align: center;
  animation: fadeIn 0.6s ease-in-out;
}

.card.active {
  display: grid;
  grid-template-columns: 380px 1fr;
  gap: 40px;
  align-items: center;
}

.card img {
  width: 100%;
  max-width: 380px;
  border-radius: 15px;
  margin: 0 auto;
}

.sobre-text {
  width: 100%;
  color: white;
  text-align: left;
}

.sobre-text h1 {
  font-size: 60px;
  margin-bottom: 20px;
  font-family: "Josefin Sans", sans-serif;
}

.sobre-text h5 {
  font-size: 22px;
  margin-bottom: 20px;
  font-family: "Josefin Sans", sans-serif;
}

.sobre-text p {
  font-size: 17px;
  color: #fcfc;
  line-height: 28px;
  font-family: "Josefin Sans", sans-serif;
}

span {
  color: #f9004d;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  font-size: 40px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 10;
}

.arrow:hover {
  color: #f9004d;
}

.arrow.left {
  left: 0px;
}

.arrow.right {
  right: 0px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(40px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

footer {
  background-color: #111;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #bbb;
}

/* --- RESPONSIVIDADE --- */

@media (max-width: 850px) {

  .sobre {
    padding: 231px 0;
    padding-top: 60px;
  }

  .card.active {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .sobre-text {
    text-align: center;
  }

  .sobre-text h1 {
    font-size: 38px;
  }

  .sobre-text p {
    font-size: 16px;
    line-height: 25px;
  }

  .card img {
    max-width: 260px;
    margin-bottom: 20px;
  }

  .arrow {
    font-size: 30px;
    top: 55%;
  }
}

@media (max-width: 787px) {

  header {
    padding: 0 20px;
  }

  header h1 a {
    font-size: 1.1rem;
  }

  nav ul li {
    font-size: 0.6rem;
    margin-left: 15px;
  }
}

@media (max-width: 500px) {

  .sobre {
    padding-top: 40px;
  }

  .sobre-text h1 {
    font-size: 30px;
  }

  .sobre-text h5 {
    font-size: 19px;
  }

  .sobre-text p {
    font-size: 15px;
  }
}