*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: sticky;
    top: 0;
    z-index: 10;
}

header h1 {
    font-size: 24px;
    color: #fff;
    transition: color 0.3s;
    cursor: pointer;
}

header h1:hover{
    color: #e50914;
}

header h1 a{
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

header h1 a:hover{
    color: #e50914;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #e50914;
}

.sobre {
  width: 100%;
  height: calc(100vh - 124px); /* 100vh menos header e footer */
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sobrenos {
  position: relative;
  width: 80%;
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  width: 100%;
  animation: fadeIn 0.6s ease-in-out;
}

.card.active {
  display: flex;
  
}

.card img {
  width: 380px;
  border-radius: 15px;
}

.sobre-text {
  width: 500px;
  color: white;
  
}

.sobre-text h1 {
  font-size: 60px;
  margin-bottom: 20px;
  font-family: "Josefin Sans", sans-serif;
}

.sobre-text h5 {
  font-size: 22px;
  margin-bottom: 20px;
  font-family: "Josefin Sans", sans-serif;
}

.sobre-text p {
  font-size: 17px;
  color: #fcfc;
  line-height: 28px;
  font-family: "Josefin Sans", sans-serif;
}

span {
  color: #f9004d;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  font-size: 40px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 10;
}

.arrow:hover {
  color: #f9004d;
}

.arrow.left {
  left: -50px;
}

.arrow.right {
  right: -50px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

footer {
    background-color: #111;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #bbb;
}