/* Reset geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0a0a0a;
    color: white;
}

/* Header igual ao site principal */
header {
    background-color: #111;
    padding: 0px 50px;
    height: 78px;
    text-align: justify;
    line-height: 70px;
}

header::after {
    content: "";
    display: inline-block;
    width: 100%;
}

header h1,
nav {
    display: inline-block;
    vertical-align: middle;
}

header h1 a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

header h1 a:hover {
    color: #e50914;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #e50914;
}

.dropdown {
    position: relative;
}

#dropBtn {
    background: none;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.dropdown .arrow {
    margin-left: 5px;
}

.drop-menu {
    display: none;
    background: #1d1d1d;
    position: absolute;
    top: 85%;
    left: 0;
    padding: 10px 0;
    border-radius: 8px;
}

.dropdown.open .drop-menu {
    display: block;
}

.dropdown.open .arrow {
    transform: rotate(180deg);
}

.drop-menu li {
    padding: 6px 15px;
}

.drop-menu li a {
    color: white;
}

/* -------- FORMULÁRIO -------- */
.form-section {
    max-width: 800px;
    margin: 60px auto;
    text-align: center;
    padding: 20px;
}

.form-section h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.form-section p {
    font-size: 16px;
    color: #bbb;
    margin-bottom: 35px;
}

.form-container {
    background-color: #111;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(229, 9, 20, 0.4);
}

.form-group {
    margin-bottom: 25px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-group input,
.form-group select,
textarea {
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #1b1b1b;
    color: white;
    font-size: 15px;
}

textarea {
    min-height: 120px;
    resize: vertical;
}

.btn-enviar {
    width: 100%;
    background: #e50914;
    padding: 15px;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.btn-enviar:hover {
    background: #b0060f;
}

/* Rodapé */
footer {
    background: #111;
    text-align: center;
    padding: 20px;
    color: #bbb;
    margin-top: 40px;
}
